html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h1= berhasil
        form(action="", method="post")
            input(type="text", name="uname", placeholder="masukan username")
            input(type="password", name="psw", placeholder="masukan password")
            input(type="submit", value="Login")
