html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        a(href="/admin/home") Home      
        a(href="/admin/adddata") Tambahkan data  
        a(href="/admin/table") Lihat Data  
        a(href="/admin/users") Lihat Data User  
        a(href="/admin/transaksi") Lihat Data Transaksi  
        a(href="/admin/logout") Logout  
