<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include default/head.pug
        title Document
    body
        span#main
            include default/nav.pug
            // login
            br
            br
            .container-fluid
                .row
                    h1 Checkout
                    if !userLogin
                        form(action="/checkout", method="POST", role='form', style='display: block;')
                            .form-group
                                input#username.form-control(type='text', name='nama', tabindex='1', placeholder='Nama', value='')
                                .form-group
                                input#email.form-control(type='email', name='email', tabindex='1', placeholder='Email Address', value='')
                                .form-group
                                .row
                                    .col-sm-6.col-sm-offset-3
                                        input#register-submit.form-control.btn.btn-register(type='submit', name='register-submit', tabindex='4', value='Bayar Sekarang')
                    else

            include default/footer.pug
        include default/side.pug
    script(src="javascripts/script.js")

