<!DOCTYPE html>
html(lang="en")
    head
        include default/head.pug
        title Document
    body
        - let productsbaju = new Array();
        span#main
            // start of navigation bar
            include default/nav.pug
            #content.container
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .row
                            .col-md-4.col-sm-4.col-xs-4.col-md-offset-1.col-xs-offset-1
                                .textProduct-Heading
                                    h1 Profile #{profile[0].nama}
                        br
                        br
                        br
                        .row
                            .col-md-4.col-sm-6.col-xs-8.col-md-offset-1.col-sm-offset-4.col-xs-offset-2
                                if profile[0].picture_profile
                                    form(action="", method="POST", enctype="multipart/form-data")
                                        a(href="")
                                            img#selectLogo.imgOption(src="/uploads/"+profile[0].picture_profile, alt="", width="256px")
                                            input#logo(type="file")
                                else
                                    form(action="", method="POST", enctype="multipart/form-data")
                                        a(href="")
                                            img#selectLogo.imgOption(src="/images/image-not-found.gif", alt="", width="256px")
                                            input#logo(type="file", name="image", accept="image/*")
                            .col-md-6.col-sm-6.col-xs-8.col-sm-offset-4.col-xs-offset-1
                                h1 Information
                                .row
                                    span Nama : 
                                    span= profile[0].nama
                                .row
                                    span Alamat : 
                                    span= profile[0].alamat
                                .row
                                    span Email : 
                                    span= profile[0].email
            include default/footer.pug
        include default/side.pug
        script.
    script(src='/javascripts/script.js')