doctype html
html
  head
    include default/head.pug
  body
    span#main
        include default/nav.pug
        // login
        br
        br
        .container-fluid
            .row
                .col-md-6.col-sm-8.col-xs-12.col-md-offset-3.col-sm-offset-2
                    if messages.info
                        .container.bg-danger.messages-info
                            .row
                                b
                                    p.messages= messages.info
                                i.fa.fa-times.removeInLoginMessages#removeLoginMessages
                    .panel.panel-login
                        .panel-heading
                            .row
                                .col-xs-6.col-sm-6.col-md-6
                                    a#login-form-link.active(href='#') Login
                                .col-xs-6.col-sm-6.col-md-6
                                    a#register-form-link(href='#') Register
                        hr
                        .panel-body
                            .row
                                .col-lg-12
                                form#login-form(action='/login', method='post', role='form', style='display: block;')
                                    .form-group
                                    input#username.form-control(type='text', name='username', tabindex='1', placeholder='Username', value='')
                                    .form-group
                                    input#password.form-control(type='password', name='password', tabindex='2', placeholder='Password')
                                    .form-group.text-center
                                    input#remember(type='checkbox', tabindex='3', name='remember')
                                    label(for='remember')  Remember Me
                                    .form-group
                                    .row
                                        .col-sm-6.col-sm-offset-3
                                            input#login-submit.form-control.btn.btn-login(type='submit', name='login-submit', tabindex='4', value='Log In')
                                    .form-group
                                    .row
                                        .col-lg-12
                                        .text-center
                                            a.forgot-password(href='https://phpoll.com/recover', tabindex='5') Forgot Password?
                                form#register-form(action='/register', method='post', role='form', style='display: none;')
                                    .form-group
                                    input#username.form-control(type='text', name='nama', tabindex='1', placeholder='Nama', value='')
                                    .form-group
                                    input#username.form-control(type='text', name='username', tabindex='1', placeholder='Username', value='')
                                    .form-group
                                    input#email.form-control(type='email', name='email', tabindex='1', placeholder='Email Address', value='')
                                    .form-group
                                    input#password.form-control(type='password', name='password', tabindex='2', placeholder='Password')
                                    .form-group
                                    input#confirm-password.form-control(type='password', name='confirm-password', tabindex='2', placeholder='Confirm Password')
                                    .form-group
                                    .row
                                        .col-sm-6.col-sm-offset-3
                                            input#register-submit.form-control.btn.btn-register(type='submit', name='register-submit', tabindex='4', value='Register Now')
                    .row.login-content
                // end of login

        include default/footer.pug
    include default/side.pug
    script(src="javascripts/script.js")




//- <!DOCTYPE html>
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         meta(http-equiv="X-UA-Compatible", content="ie=edge")
//-         title Document
//-     body
//-         include default/nav.pug
//-         h1 Login
//-         form(action="/login", method="post")
//-             input(type="text", name="username", placeholder="masukan username")
//-             input(type="password", name="password", placeholder="masukan password")
//-             input(type="submit", value="submit")