<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include default/head.pug
        title Verifikasi
    body
        span#main
            include default/nav.pug
            // login
            br
            br
            .container-fluid
                .row
                    h1 Verifikasi Pembayaran
                    p= "Pembeli : " + yourProduct[0].id_pembeli
                    each product in yourProduct
                        p= "Belanjaan anda " + product.id_barang
                        p
                            img(src="/images/" + product.gambar, alt="", width="128px")
                        p= product.namabarang
                    p= "Total harga " + yourProduct[0].totalHarga
            include default/footer.pug
        include default/side.pug
    script(src="javascripts/script.js")

