// start of footer
.footer
  .container
    .row
      .col-md-6.col-sm-6.col-xs-6
        .row
          .contact-logo
            i.fab.fa-instagram.fa-2x(aria-hidden='true')
            span @GanbareDev
        .row
          .contact-logo
            i.fab.fa-facebook-f.fa-2x(aria-hidden='true')
            span  Ganbare Dev
        .row
          .contact-logo
            i.fab.fa-twitter.fa-2x(aria-hidden='true')
            | @Ganbare Dev
      .col-md-6.col-sm-6.col-xs-6
        .text-container-list
          .row
            a(href='')
              span.footer-text
                p CONTACT US
            a(href='')
              span.footer-text
                p ABOUT US
          .row
            p Light Armor 2017
// end of footer
