*{
    margin: 0;
    padding: 0;
    
    font-family: Poppins, sans-serif;
}
body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.messages-info{
    border-radius: 2px;
    /* align-content: center; */
    width: 100%;
    height: 50px;
    padding: 15px;
    display: table-cell;
}

.removeInLoginMessages:hover{
    background: grey;
    opacity: 0.8;
}

.removeInLoginMessages{
    float: right;
    margin: 5px;
}

.messages{
    margin-left: 15px;
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover{
    text-decoration: none !important;
}

.container-fluid{
    margin-left: 10% !important;
    margin-right: 10% !important;
}

/* Main Theme  */
/* header and banner placed here */
/* banner  */

#main{
    overflow-x: hidden !important;
}

.container

.headlineProduct{
    width: 100%;
    height: 350px;
    background: rgb(243, 243, 243);
}

.headline img{
    width: 100%;
    height: 650px;
    z-index: -1;
}

.slide div{
    display: none;
    z-index: -1 !important;
}


#main{
    width: 100%;
    display: block;
    z-index: 2;
    float: left;
}
#banner{
    background: rgb(25.3%, 28%, 25.3%);
    height: 100px;
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    
}

#text{
    margin: 15px;
}

/* navbar  */
#nav{
    display: block;
    position: relative;
    height: 80px;
    background: white;
    width: 100%;
    font-family: sans-serif;
    z-index: 12 !important;
    opacity: 0.9;
}

.nav-fixed{
    top: 0;
    z-index: 100;
    position: fixed !important;
    width: 100%;
}

#logo-home{
    display: inline-block;
    color: black;
    margin: 30px 0 30px 10px;
    float: left;
}

#navnav{
    float: right;
    color: black;
    width: 55%;
    height: 80px;
    position: relative;
    z-index: 1;
}

#nav-id{
    display: none;
}

#navnav ul{
    float: right;
}

#navnav ul li{
    list-style: none;
    float: left;
    display: inline-block;
    height: 100%;
}
#navnav ul li a{
    text-decoration: none;
    color: black;
    text-align: center;
    display: inline-block;
    width: 110px;
    height: 75px;
}
.text-nav{
    margin-top: 30px;
    display: inline-block;
    font-size: 13px;
    font-family: Poppins, sans-serif;
}
#navnav ul li a:hover{
    color: grey;
}

.nav-cart{
    display: none;
}

.nav-cart-resize{
    float: right;
    position: relative;
    display: none;
}
.nav-cart-resize:hover{
    color: grey;
}
.nav-cart-logo-resize{
    color: black;
    float: right;
    right: 100px;
    margin: 23px 50px 0 10px;
}

.nav-cart-logo-resize:hover{
    color: grey;
}

.nav-cart-logo{
    /* top: 23px;
    right: 10px; */
    float: left;
    color: black;
    margin: 23px 50px 0 50px;
    position: relative;
}

.nav-cart-logo:hover{
    color: grey;
}

/* dropdown navbar  */
#nav ul ul{
    display: none;
}

#navnav-drop{
    
}

#drpbtn:hover{
    color: white;
}

/* #navnav-drop:hover + #text {
    display: none;
    z-index: 10 !important;
}

#nav ul li:hover ul{
    display: block;
    z-index: 10;
} */

#nav ul li ul {
    margin-top: 5px;
    z-index: 10;
    background: white;
    opacity: 0.9;
    position: absolute;
    float: left;
    max-width: 200px;
}

#nav ul li ul{
    
}

#nav ul li ul li a{
    border-bottom: none !important;
    height: 50px;
}

#dropUser{
    display: inline-block;
}

#nav ul li ul li a:hover{
    color: lightgrey;
}

.icon-hamburger{
    color: black;
    display: inline;
    float: right;
    margin: 15px 25px 15px 0;
    cursor: pointer;
}

#nav ul li a:hover > ul{
    display: block !important;
}

@media screen and (min-width: 1000px){
    #nav-id{
        display: block;
     }
    .icon-hamburger{
        display: none;
    } 
    .nav-cart-resize{
        display: none !important;
    }

}


@media screen and (max-width: 1600px){
    
}
/* end of navbar  */
/* end of header and banner  */
/* Main Theme  */

.imgOption{
    background: grey;
}

#imgProfileBackground{
}

.imgText{
    position: relative;
    display: none;
    left: -100px;
    top: 110px;
    background: grey;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 11px; 
}

/* Side Theme  */
#side{
    display: none;
    position: fixed;
    width: 100%;
    right: 0px;
    overflow: hidden;
    scroll-behavior: none;
    background: white;
    height: 1800px;
    font-family: Poppins, sans-serif;
    z-index: 10;
    opacity: 0.93;
    margin-top: 30px;
}

#side #side-dropbtn li a span{
    font-size: 10px;
}

#side ul li{
    width: 100%;
    height: 50px;
    display: inline-block;
}
#side ul li a{
    text-decoration: none;
    display: inline-block;
}

#text-side{
    margin: 20px 50px 20px 50px;
    display: inline-block;
    color: black;
}

#text-side:hover{
    color: lightgrey;
}

#side ul li a:hover{
    color: lightgrey;
    width: 100%;
    height: 50px;
}

#btndrop-side:hover{
    width: 100%;
    height: 50px !important;
    display: inline-block;
    color: lightgrey;
}

#side-dropbtn{
    display: none;
    /* font-size: 13px; */
    color: black;
    position: relative;
    height: 150px !important;
    margin-top: 20px;
}

#side-dropbtn li{
}
#side-dropbtn li a #drpbtn-side-text{
    margin: 10px 30px 0 30px;
    color: black;
}
#side-dropbtn li a #drpbtn-side-text:hover{
    color: lightgrey;
}
#dropbtn-side-text{
    margin-top: 10px !important;
}

#wrapper-image-product{
    display: block;
}

#wrapper-image-product-horizontal{
    width: 280px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    background: blue;
}

#wrapper-image-product-horizontal span{
    display: inline;
    width: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#wrapper-image-product-horizontal span img{
    overflow-x: scroll;
    overflow-y: hidden;
}
.product-wrapper-all{
    margin-top: 100px;
    margin-bottom: 100px;
}

.product-describe{
    margin-top: 100px;
}

.cartTable tbody tr td{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.buttomAddToCart{
    border: none;
    background: lightgrey;
    padding: 15px 15px;
    margin: 15px;
}


.item-grid1 {
    padding-bottom: 2em;
}
.item-grid1:nth-child(7) ,.item-grid1:nth-child(8),.item-grid1:nth-child(9){
    padding-bottom: 0em;
}

.item-grid,.item-grid1{
	width:50%;
	float:left;
	padding-top: 2em;
}
.item-grid1 {
    padding-bottom: 0em;
}

.mid-pop{
	position:relative;
	border: 1px solid #EFECEC;
    padding: 15px;
}

.mid-pop .pro-img:hover .zoom-icon {
    top: 33%;
    opacity: 0;
}
.mid-1 span{
	font-size: 0.9em;
    color: #2525;
    line-height: 1.8em;
}

.content_grid_left_grid h3 {
    font-size: 1.5em;
    color: #212121;
    padding-left: 2em;
    position: relative;
    margin: 1em;
	text-align:left;
}
.content_grid_left_grid h3:before {
    content: '';
    background: #242424;
    width: 10%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0%;
}
.content_grid_left_grid_sub {
    border: 1px solid #E1E1E1;
    width: 70%;
    margin: 0 auto;
    padding: 2em 1.5em 1em;
}

#info{
    color: #f14343;
    margin-bottom: 8px;
}

@media (max-width: 576px){
    .headline img{
        height: 225px;
    }
    .headlineProduct{
        width: 100%;
        height: 150px;
        background: rgb(243, 243, 243);
    }
    #wrapper-image-product{
        display: none;
    }
    .product-wrapper-mobile{
        height: 400px;
    }

    .img-mobile{
        margin-top: 80px;
    }
}
@media (min-width: 576px) {
    #text-side{
        font-size: 22px;
    }
    #side #side-dropbtn li a span{
        font-size: 20px;
    }
    .headline img{
        height: 250px;
    }
    .headlineProduct{
        width: 100%;
        height: 200px;
        background: rgb(243, 243, 243);
    }
    #wrapper-image-product{
        display: none;
    }
    .product-wrapper-mobile{
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #text-side{
        font-size: 24px;
    }
    #side #side-dropbtn li a span{
        font-size: 22px;
    }
    .headline img{
        height: 350px;
    }
    .headlineProduct{
        width: 100%;
        height: 250px;
        background: rgb(243, 243, 243);
    }
    #wrapper-image-product{
        display: block;
    }
    .product-wrapper-mobile{
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #text-side{
        font-size: 26px;
    }
    #side #side-dropbtn li a span{
        font-size: 24px;
    }
    .headline img{
        height: 400px;
    }
    .headlineProduct{
        width: 100%;
        height: 300px;
        background: rgb(243, 243, 243);
    }
    #wrapper-image-product{
        display: block;
    }
    .product-wrapper-mobile{
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #text-side{
        font-size: 28px;
    }
    #side #side-dropbtn li a span{
        font-size: 26px;
    }
    .headline img{
        height: 650px;
    }
    .headlineProduct{
        width: 100%;
        height: 350px;
        background: rgb(243, 243, 243);
    }
    #wrapper-image-product{
        display: block;
    }
    .product-wrapper-mobile{
    }
}

/* end of side  */
/* start of content  */


#content{
    width: 100%;
}

#banner-content{
    background: url("images/banner2.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-size: 100%;
    overflow: none;
}

#content-main{
    margin: 20px;
}

.col-pdt{
    max-width: 35%;
    display: block;
}

#our-product{
    margin-left: 25px;
}

/* #wrapper-product{
    width: 100%;
    display: inline-block;
} */

.container a{
    color: black;
}

.textProduct-Heading{
    margin: 10px;
    font-size: 22pt;
}

.container a:hover{
    color: grey;
}

.product-type1{
    background: url("images/tshirt.jpg") no-repeat 0px 10px;
    background-size: contain;
    height: 600px;
    margin-left: 80px;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 2;
    
} 
.product-type2{
    background: url("images/jeans.jpg") no-repeat 0px 10px;
    background-size: contain;
    height: 350px;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 2;
    margin-left: 80px;
}
.product-type3{
    margin-top: 50px;
    background: url("images/jacket.jpg") no-repeat 0px 0px;
    background-size: contain;
    height: 350px;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 2;
    margin-left: 80px;
}

.product-type1:hover{
    -moz-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

.product-type2:hover{
    -moz-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

.product-type3:hover{
    -moz-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}


.product-desc{
    margin: 30px 0 0 0 ;
}

a .smore-btn{
    text-decoration: none;
    text-decoration-style: none;
}
.smore-btn{
    margin-top: 50px;
    padding: 5px;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 1px;
    text-align: center;
}

.cart{
    float: right;
    
}

.checkOutButtom{
    background: rgb(243, 243, 243);
    color: black;
    width: 100%;
    display: inline-block;
    height: 50px;
}

.checkOutButtom:hover{
    background: rgb(235, 235, 235);
}

.checkOutButtom p{
    margin: 15px 0 15px 0;
}

.deleteDataInCart{
    border: none;
    background: transparent;
}

.cart-amount{
    font-size: 10pt;
    margin-bottom: -5px;
}

.cart-logo{
    top: 100px;
    right: 0px;
    position: absolute;
    width: 60px !important;
    height: 80px !important;
    color: black;
    z-index: 10;
}

.cart-logo:hover{
    color: grey;
}

a:hover .smore-btn{
    text-decoration-line: none;
}
.product-wrapper{
    margin: 10px;
}

.images-product-scrollable{
    overflow: auto;
    height: 400px;
    opacity: 0.8;
}

.bann-btns {
    padding: 0em;
    list-style: none;
    margin-top: 1em;
    float: left;
    display: inline;
}
.bann-btns li {
    display: inline;
    float: left;
    margin-right: 1em;
}

select.bann-size {
    background: url(../images/arrow.png)no-repeat 88% 50%;
    width: 100%;
    padding:0.8em 2.5em 0.8em 1em;
    border: 1px solid #252525;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color:#252525;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    font-family: 'Oswald', sans-serif;
    box-shadow:0px 0px 1px 0px rgba(204, 204, 204, 0.85);
}

/*--quantity-starts--*/
li .quantity{
	/* margin: 1.5em 0; */
    float:left;

}
 .value-minus,
.value-plus{
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
	border:1px solid #b2b2b2;
	    vertical-align: bottom;
}
.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before{
	content: ""; 
	width: 13px;
	height: 2px; 
	background: #000;
	left: 50%;
	margin-left: -7px; 
	top: 50%;
	margin-top: -0.5px;
	position: absolute;
}
.quantity-select .entry.value-plus:after{
	content: "";
	height: 13px;
	width: 2px; 
	background: #000;
	left: 50%; 
	margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
	position: absolute;
}
.value  {
    cursor: default;
    width: 40px;
	height:40px;
    padding: 8px 0px;
    color: #A9A9A9;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    text-align: center;
    display: inline-block;
	margin-right: 3px;
}
.quantity-select .entry.value-minus:hover,
 .quantity-select .entry.value-plus:hover{
	background: #E5E5E5;
}

.quantity-select .entry.value-minus{
    margin-left: 0;
}
/*--quantity-end--*/

@media (max-width: 576px) {
    .cart-logo{
        width: 20px;
        height: 20px;
    }
    .product-name{
        font-size: 8pt;
    }
    .images-product-scrollable{
        overflow: auto;
        height: 200px;
        opacity: 0.8;
    }
}
@media (min-width: 576px) {
    .product-wrapper{
        margin: 10px;
    }
    .cart-logo{
        width: 20px;
        height: 20px;
    }
    .images-product-scrollable{
        overflow: auto;
        height: 250px;
        opacity: 0.8;
    }
    .product-name{
        font-size: 16pt;
    }
}


@media (min-width: 768px) {
    .product-wrapper{
        margin: 20px;
    }
    .cart-logo{
        width: 30px;
        height: 30px;
    }
    .product-name{
        font-size: 18pt;
    }
    .images-product-scrollable{
        overflow: auto;
        height: 300px;
        opacity: 0.8;
    }
}


@media (min-width: 992px) {
    .product-wrapper{
        margin: 40px;
    }
    .cart-logo{
        width: 40px;
        height: 40px;
    }
    .product-name{
        font-size: 20pt;
    }
    .images-product-scrollable{
        overflow: auto;
        height: 350px;
        opacity: 0.8;
    }
}


@media (min-width: 1200px) {
    .product-wrapper{
        margin: 40px;
    }
    .cart-logo{
        width: 50px;
        height: 50px;
    }
    .product-name{
        font-size: 28pt;
    }
    .images-product-scrollable{
        overflow: auto;
        height: 400px;
        opacity: 0.8;
    }
}
/* end of content  */

/* start of footer  */
.footer{
    width: 100%;
    background: rgb(243, 243, 243);
    height: 300px;
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 25px;
    /* border-top: 1px solid grey; */
}

.footer-line{
    border-top: 5px solid grey;
}

.footer ul {
    list-style-type: none;
    float: right;
}

.contact-logo{
    margin: 20px;
}

.footer-text{
    /* width: 100%; */
}

.text-container-list{
    float: right;
    text-align: left;
    font-size: 16px;
    margin-right: 1px;
    margin-top: 50px;
}
/* end of footer  */


/* login setting  */
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    z-index: 4;
    height: 450px;
    /* height: 400px; */
}


.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: rgb(10.7%, 13.6%, 10.7%);
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: lightgrey;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: lightgrey;
	border-color: white;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: rgb(10.7%, 13.6%, 10.7%);
	outline: none;
	color: white;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: rgb(10.7%, 13.6%, 10.7%);
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
	background-color: lightgrey;
	border-color: white;
}
/* end of login  */



/* bootstrap setting */
.container-fluid{
    z-index: 0 !important;
}
.panel .panel-login .col-md-8 .col-sm-8 .col-xs-8 .col-md-offset-2 .col-sm-offset-2 .col-xs-offset-2 .col-md-offset-2{
    z-index: 0 !important;
}

.form-control{
    border-radius: 0 !important;
}
.form-control:focus{
    background: rgb(243, 243, 243);
}

/* #icon-hamburger{
    opacity: 0.1;
    background: white;
    border-radius: 100px;
} */



/* ProductShow */

/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Reset Code --*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing:1px;
}

/*-- //Reset Code --*/


/*-- single-page --*/ 
.single-top-left {
    margin-left:5%;
    max-width: 30%;
    float: left;
}
.item_name {
    text-transform: capitalize;
    font-size: 4em;
    color: #252525;
    margin-bottom: .3em;
    text-align: left;
}
.single-top-right ul li {
    display: inline-block;
    margin-left: 3px;
    color: #0280e1;
}
.single-top-right {
    padding-left: 5em;
    float: left;
    width: 60%;
}  
.single-rating {
    margin: 1em 0;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1em;
}
.single-top-right ul li.rating {
    margin: 0 1.5em;
    color: #999;
    font-size: 1em;
}
.single-price ul li {
    margin-right: 1em;
    font-size: 1em;
    color: #999;
}
.single-price ul li:nth-child(1) {
    font-size: 2.8em;
    font-weight: 300;
	margin-right: 0.5em;
}
.single-price ul li span.w3off {
    font-size: 1.5em;
    color: #0280e1;
}

.single-price.price ul li a:hover{
    color: #999;
}
p.single-price-text {
    margin: 1.5em 0;
}
.single-top-right form {
    display: inline;
}
.single-top-right .w3ls-cart {
    width: 40%;
    font-weight: 300;
    padding: 0.6em 0;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    display: inline-block;
    background: #252525;
    outline: none;
    border: 1px solid #252525;
    color: #fff;
}
.single-top-right .w3ls-cart:hover{
    background: #656565;
	border-color:#656565;
}

.single-top-right .w3ls-cart.w3ls-cart-like {
    margin-left: 1em;
    background: none;
    border: 1px solid  #252525;
    color: #252525;
}
.single-top-right .w3ls-cart.w3ls-cart-like:hover{ 
    background:  #656565;
    color: #fff;
} 


/*-- //single-page --*/




/*--- Responsive Code ---*/
@media screen and (max-width: 1440px){
	
}
@media screen and (max-width: 1366px){
	
}
@media screen and (max-width: 1280px){
	
}

@media screen and (max-width: 1080px){
	
}

@media screen and (max-width: 991px){
	.single-top-left {
        margin-left:5%;
        max-width: 30%;
    }
    .single-top-right {
        width: 65%;
    }  
}
@media screen and (max-width: 900px){
	.single-top-left {
        margin-left:5%;
        max-width: 30%;
        float: left;
    }
    .single-top-right {
        width: 65%;
    } 
}
@media screen and (max-width: 800px){
	.single-top-left {
        margin-left:5%;
        max-width: 100%;
        float: left;
    }
    .single-top-right {
        width: 100%;
    } 
    .item_name{
        font-size: 2em;
    }
}
@media screen and (max-width: 768px){
	.single-top-left {
        margin-left:5%;
        max-width: 100%;
        float: left;
    }
    .single-top-right {
        width: 100%;
    } 
    .item_name{
        font-size: 2em;
    }
    .w3ls-cart{
        width: 50%;
    }
}
@media screen and (max-width: 736px){
	.single-top-left {
        margin-left:5%;
        max-width: 100%;
        float: left;
    }
    .single-top-right {
        width: 100%;
    } 
    .item_name{
        font-size: 2em;
    }
    .w3ls-cart{
        width: 50%;
    }
}
/*-- //responsive--*/

/* end of ProductShow */